head
    title Yatzy - Lobby
    meta(charset="UTF-8")
body

    div(class="container", style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
        h1 Velkommen til Yatzy spillet.
        p Her kan du spille Yatzy med dine venner.

        form
            label(for="name") Brugernavn
            input(type="text", id="username")
        button(class="btn btn-primary", onclick="joinRoom()") Join rum

        h2 Spillere i rum ##{id} - (#{players.length}/#{maxPlayers}) : #{status}
        ul
            each player in players
                li= player.name

        button(class="btn btn-primary", onclick="location.href='/game/#{name}'") Start spil