doctype html
html
  head
    title Yatzy - Rum #{id}
    meta(charset="UTF-8")
  body
    div.container(style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
      h1 Velkommen til Yatzy spillet.
      p Her kan du spille Yatzy med dine venner.

      if status == "WAITING"
        form
          label(for="name") Brugernavn
          input(type="text", id="username")
          button.btn.btn-primary(onclick="joinRoomHandler(event)") Join rum

      h2 Spillere i rum #{id} - (#{players.length}/#{maxPlayers}) : #{status}
      if status == "WAITING"
        ul
          each player in players
            li= player.name
      else
        - const list = players;
        - list.sort((a,b)=>{return b.score - a.score;});
        ul 
          each player in list
            if player.finished === true
              li= player.name + " - " + player.score + " - Færdig"
            else
              li= player.name + " - " + player.score

      if status == "WAITING" && players.length > 1
        button.btn.btn-primary(onclick="startGameHandler(event)") Start spil

      button.btn.btn-primary(onclick="window.location.href='/'") Tilbage til forsiden

    //- Render joinRoom function from the server to the client
    script.
      !{post}
      
    //- Inline client-side script to handle the join room logic
    script.
      async function joinRoomHandler(event) {
        event.preventDefault();
        const username = document.getElementById('username').value;
        const roomID = "#{id}";
        const sessionID = sessionStorage.getItem("sessionID");
        const values = await post("!{apiURL}" + "/login", { username, roomID }, sessionID);
        const message = values.message;
        if (message !== "Success, player added") {
          alert(message);
        } else {
          sessionStorage.setItem("sessionID", values.sessionID);
          location.reload();
        }
      }

      async function startGameHandler(event) {
        event.preventDefault();
        const roomID = "#{id}";
        const sessionID = sessionStorage.getItem("sessionID");
        const res = await post("!{apiURL}" + "/rooms/" + roomID + "/start", {}, sessionID);
        if (res.success === true) {
          const newLocation = location.href + "/game";
          window.location.href = newLocation+"?sessionID="+sessionID;
        } else {
          alert(res.message);
        }
      }