head
    doctype html
    title Yatzy - Rum #{room.id}
    meta(charset="UTF-8")

body
    form
        label(for="name") Brugernavn
        input(type="text", id="username")
    button(class="btn btn-primary", onclick="joinRoom()") Join rum

    h2 Spillere i rum ##{id} - (#{players.length}/#{maxPlayers}) : #{status}
    ul
        each player in players
            li= player.name

    button(class="btn btn-primary", onclick="location.href='/game/#{name}'") Start spil